# Python bytecode/cache
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environment variables
.env
*.env

# Data files
*.csv
*.zip

# Log files
log.txt

# Ignore local notebook folder only
notebook/

# VSCode settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db
